@font-face {
    font-family: 'Inter-Bold';
    src: url('assets/fonts/static/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Inter-Regular';
    src: url('assets/fonts/static/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Inter-SemiBold';
    src: url('assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: hsl(0, 0%, 8%);
    font-family: 'Inter-Regular', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
}
h1 {
    font-family: 'Inter-Bold', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    text-align: center;
}
p {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 2px;
    font-size: 14px;

}
.bio {
    font-size: 14px;
    margin-bottom: 5px;
}
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: hsl(0, 0%, 12%);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    margin-top: 50px;
}
.links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
}
.links a {
    text-decoration: none;
    display: block;
}
.links .choice {
    padding: 10px;
    color: white;
    background: hsl(0, 0%, 20%);
    margin: 5px 0;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    transition: .4s;
}
.links .choice:hover {
    background: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
}
.image {
    width: 80px;
    border-radius: 50%;
}
